@font-face{
    font-family: "gotham";
    src: url('fonts/gotham/Gotham.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
@font-face{
    font-family: "butler";
    src: url('fonts/butler/Butler.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "batman";
    src: url('fonts/batman/BATMAN.woff') format('woff');
}

nav a {
    color: rgb(219, 218, 221);
    font-family: "gotham";
    font-size: 25px;
    padding: 0px 30px;
    line-height: 50px;
    text-decoration: none;
}
a:hover {
    color: rgb(60, 78, 136);
    text-decoration: underline;
}
.active {
    color:rgb(134 51 51);
}
body{
    opacity:90%;
    background-image: url('images/gothiccity.jpg');
}
.menu{
    float: center;
    background-color: rgb(41, 37, 52);
}
.row{
    float: center;
    opacity: 90%;
    background-color: rgb(191, 181, 175);
    padding:20px;
    width: 100%;
}
.col{
    float: left;
    width: 40%;
    height:max-content;
    padding: 10px;
}
.col2{
    float: left;
    width: 60%;
    height:max-content;
    padding: 10px;
}
text{
    padding: 20px;
}
h2 {
    color:rgb(134 51 51);
    font-family: "batman";
    font-size: 50px;
}
h3{
    font-family: "butler";
    font-size: 50px;
    color:rgb(134 51 51);
}
h4{
    font-family: "batman";
    font-size:15px;
}
h5{
    font-family: "butler";
    color: rgb(41, 37, 52);
    font-size: 20px;
}
p{
    font-family: "butler";
}