@font-face{
    font-family: "gotham";
    src: url('fonts/gotham/Gotham.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
@font-face{
    font-family: "butler";
    src: url('fonts/butler/Butler.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "batman";
    src: url('fonts/batman/BATMAN.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

nav a {
    color: rgb(219, 218, 221);
    font-family: "gotham";
    font-size: 25px;
    padding: 0px 30px;
    line-height: 50px;
    text-decoration: none;
}
a:hover {
    color: rgb(93, 106, 150);
    text-decoration: underline;
}
.active {
    color:rgb(134 51 51);
}
body{
    background-image: url('images/gothiccity.jpg');
    background-size: cover;
}
img{
    
}
.heading{
    background-color: rgb(38, 37, 52);
    padding: 20px;
    margin: 0;
}
.row{
    opacity: 90%;
    background-color: rgb(191, 181, 175);
    padding: 20px;
    margin: 0;
}
.col{
    float: center;
    width: 40%;
    height:max-content;
    padding: 5px;
}
.card{
    background-color: rgb(219, 218, 221);
    padding: 10px;
    margin: 10px;
    width:100%;
}
text{
    padding: 20px;
}

/* Center the profile image inside the left column */
#left img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
h2 {
    color:rgb(134 51 51);
    font-family: "batman";
    font-size: 50px;
}
h3{
    font-family: "gotham";
    font-size: 50px;
    color:rgb(134 51 51);
}
h4{
    font-family: "batman";
    font-size:15px;
}
h5{
    font-family: "butler";
    color: rgb(41, 37, 52);
    font-size: 20px;
}
p{
    font-family: "butler";
}