@font-face{
    font-family: "gotham";
    src: url('fonts/gotham/Gotham.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "optimusprinceps";
    src: url('fonts/optimusprinceps/OptimusPrinceps-normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"optimusprinceps";
    src:url('fonts/optimusprinceps/OptimusPrinceps-semibold.woff')format('woff');
    font-weight:bold;
    font-style:normal;
}
@font-face{
    font-family: "batman";
    src: url('fonts/batman2/BATMAN.woff') format('woff');
.container {
    background-color: rgb(191, 181, 175);
    width: 1200px;
    margin: 0 auto;
}
